@charset "UTF-8";
/*függőleges*/
/*vízszintes*/
.point {
  position: absolute;
  width: 12px;
  height: 12px;
  background: transparent;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  top: 104px;
  left: 6px; }

.hexagon-horizontal {
  position: absolute;
  height: 24px;
  /*50px;*/
  width: 40px;
  /*100px;*/
  background: red;
  /*red;*/
  top: 52px;
  /*125*/
  left: 12px;
  /*25;*/
  transform: scaleY(0.5);
  transform-origin: 0 0; }

.hexagon-horizontal:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  /*25px solid transparent;*/
  border-right: 12px solid red;
  /*25px solid red;*/
  border-bottom: 12px solid transparent;
  /*25px solid transparent;*/
  left: -6px;
  /*+ $horizontal-gap; -12.5;*/
  transform: scaleX(0.5);
  transform-origin: 0 0; }

.hexagon-horizontal:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  /*25px solid transparent;*/
  border-left: 12px solid red;
  /*25px solid red;*/
  border-bottom: 12px solid transparent;
  /*25px solid transparent;*/
  left: 40px;
  /*+ $horizontal-gap;*/
  transform: scaleX(0.5);
  transform-origin: 0 0;
  margin: 0; }

.trapezoid-top-left {
  position: absolute;
  border-top: 12px solid transparent;
  border-left: 12px solid red;
  height: 40px;
  width: 0;
  border-radius: 10px 0 0 0px;
  top: 0px; }

.trapezoid-bottom-left {
  position: absolute;
  border-left: 12px solid red;
  border-bottom: 12px solid transparent;
  height: 40px;
  width: 0;
  border-radius: 0px 0 0 10px;
  top: 64px;
  /*150;*/ }

.trapezoid-top-right {
  position: absolute;
  border-top: 12px solid transparent;
  border-right: 12px solid red;
  height: 40px;
  width: 0;
  left: 52px;
  /*125;*/
  border-radius: 0 10px 0px 0;
  top: 0px; }

.trapezoid-bottom-right {
  position: absolute;
  border-right: 12px solid red;
  border-bottom: 12px solid transparent;
  height: 40px;
  width: 0;
  left: 52px;
  top: 64px;
  border-radius: 0 0px 10px 0; }

.trapezoid-top {
  position: absolute;
  border-top: 12px solid red;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  height: 0;
  width: 40px;
  border-radius: 10px 10px 0 0;
  left: 0px; }

.trapezoid-bottom {
  position: absolute;
  border-bottom: 12px solid red;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  height: 0;
  width: 40px;
  border-radius: 0 0 10px 10px;
  top: 104px;
  /*250;*/
  left: 0px; }

.triangle-left-down {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid red;
  position: absolute;
  top: 52px;
  /*125;*/
  transform: scale(0.5);
  transform-origin: 0 0;
  left: 0; }

.triangle-left-up {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid red;
  position: absolute;
  left: 0;
  top: 58px;
  /*137.5;*/
  transform: scale(0.5);
  transform-origin: 0 0; }

.triangle-right-down {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid red;
  position: absolute;
  left: 52px;
  top: 52px;
  transform: scale(0.5);
  transform-origin: 0 0; }

.triangle-right-up {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid red;
  position: absolute;
  left: 52px;
  top: 58px;
  transform: scale(0.5);
  transform-origin: 0 0; }

.digit-number-0 .hexagon-horizontal, .digit-number-0 .hexagon-horizontal:before, .digit-number-0 .hexagon-horizontal:after {
  border-color: transparent;
  background-color: transparent; }

.digit-number-1 .trapezoid-top {
  border-color: transparent; }
.digit-number-1 .trapezoid-top-left {
  border-color: transparent; }
.digit-number-1 .hexagon-horizontal, .digit-number-1 .hexagon-horizontal:before, .digit-number-1 .hexagon-horizontal:after {
  border-color: transparent;
  background-color: transparent; }
.digit-number-1 .trapezoid-bottom-left {
  border-color: transparent; }
.digit-number-1 .triangle-left-down {
  border-color: transparent; }
.digit-number-1 .triangle-left-up {
  border-color: transparent; }
.digit-number-1 .trapezoid-bottom {
  border-color: transparent; }

.digit-number-2 .trapezoid-top-left, .digit-number-2 .triangle-left-down {
  border-color: transparent; }
.digit-number-2 .trapezoid-bottom-right, .digit-number-2 .triangle-right-up {
  border-color: transparent; }

.digit-number-3 .trapezoid-top-left, .digit-number-3 .triangle-left-down {
  border-color: transparent; }
.digit-number-3 .trapezoid-bottom-left, .digit-number-3 .triangle-left-up {
  border-color: transparent; }

.digit-number-4 .trapezoid-top {
  border-color: transparent; }
.digit-number-4 .trapezoid-bottom-left, .digit-number-4 .triangle-left-up {
  border-color: transparent; }
.digit-number-4 .trapezoid-bottom {
  border-color: transparent; }

.digit-number-5 .trapezoid-top-right, .digit-number-5 .triangle-right-down {
  border-color: transparent; }
.digit-number-5 .trapezoid-bottom-left, .digit-number-5 .triangle-left-up {
  border-color: transparent; }

.digit-number-6 .trapezoid-top-right, .digit-number-6 .triangle-right-down {
  border-color: transparent; }

.digit-number-7 .trapezoid-top-left, .digit-number-7 .triangle-left-down {
  border-color: transparent; }
.digit-number-7 .hexagon-horizontal, .digit-number-7 .hexagon-horizontal:before, .digit-number-7 .hexagon-horizontal:after {
  border-color: transparent;
  background-color: transparent; }
.digit-number-7 .trapezoid-bottom-left, .digit-number-7 .triangle-left-up {
  border-color: transparent; }
.digit-number-7 .trapezoid-bottom {
  border-color: transparent; }

.digit-number-9 .trapezoid-bottom-left, .digit-number-9 .triangle-left-up {
  border-color: transparent; }

.digit-point .point {
  background-color: red; }
.digit-point .trapezoid-top {
  border-color: transparent; }
.digit-point .trapezoid-top-left, .digit-point .triangle-left-down {
  border-color: transparent; }
.digit-point .trapezoid-top-right, .digit-point .triangle-right-down {
  border-color: transparent; }
.digit-point .hexagon-horizontal, .digit-point .hexagon-horizontal:before, .digit-point .hexagon-horizontal:after {
  border-color: transparent;
  background-color: transparent; }
.digit-point .trapezoid-bottom-left, .digit-point .triangle-left-up {
  border-color: transparent; }
.digit-point .trapezoid-bottom-right, .digit-point .triangle-right-up {
  border-color: transparent; }
.digit-point .trapezoid-bottom {
  border-color: transparent; }

.digit-container {
  box-sizing: content-box;
  position: relative;
  background-color: black;
  min-width: 64px;
  max-width: 64px;
  min-height: 116px;
  max-height: 116px; }

.digit-container.digit-point {
  min-width: 24px;
  max-width: 24px;
  min-height: 116px;
  max-height: 116px; }

.digit-container-height {
  min-height: 116px;
  max-height: 116px; }

/*# sourceMappingURL=led.css.map */
